$main-color: #bf00ff;


.popup {
  position: relative;

  #app-home-menu {
    position: absolute;
    top: 0;
    left: -350%;
    z-index: 2;
    color: white;

    #menu {
      display: flex;
      flex-direction: column;

      padding: 1.5rem;
      gap: 0.5rem;
      list-style: none;
      background-color: #1a1a1a;

      li {
        cursor: pointer;
      }

      li a {
        text-decoration: none;
        color: white
      }

      #submenu {
        background-color: #4d4d4d;
      
        list-style: none;
      }
    }
}
}